<div id="item-edit" ng-controller="ListingEditController">

    <div class="listing-title">
        <div>{{ page_title }}</div>
        <span>{{ progress }}% Complete</span>
    </div>
    <div class="listing-progress">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                 aria-valuemax="100" ng-style="{width: totalProgress() + '%'}">
            </div>
        </div>
    </div>
    <div class="button-wrapper">
        <button type="button" class="btn btn-primary pull-right" ng-click="updateItem()">Save</button>
    </div>
    <div id="location" class="listing-panel" ng-class="{incomplete: !locationDone(), active: activePanel == 'location'}">
        <div ng-click="togglePanel('location')">
            <div class="index"><i class="fa fa-map-marker"></i></div>
            <div class="title">Location</div>
        </div>
        <div class="listing-panel-body">

            <div class="alert alert-danger" ng-if="location_error">
                {{ location_error }}
            </div>

            <div class="provinces">
                <a ng-repeat="province in provinces" ng-click="item.province_id = province.id; item.county_id = null;" ng-class="{active: item.province_id == province.id}">{{ province.name }}</a>
            </div>
            <div class="counties">
                <div ng-repeat="province in provinces" ng-show="item.province_id == $index + 1">
                    <a ng-repeat="county in province.counties" ng-click="item.county_id = county.id; initMap(county.lat, county.lng);" ng-class="{active: item.county_id == county.id}">{{ county.name }} </a>
                </div>
            </div>
            <div ng-show="item.county_id != null">
                <b>Place the marker to give borrowers an idea of the listing location</b>
                <div id="locationPicker"></div>
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-click="togglePanel('category')">Next</button>
        </div>
    </div>

    <div id="category" class="listing-panel" ng-class="{incomplete: !categoryDone(), active: activePanel == 'category'}">
        <div ng-click="togglePanel('category')">
            <div class="index"><i class="fa fa-tag"></i></div>
            <div class="title">Category</div>
        </div>
        <div class="listing-panel-body">

            <div class="alert alert-danger" ng-if="category_error">
                {{ category_error }}
            </div>

            <div class="categories">
                <a ng-repeat="category in categories" ng-click="item.category_id = category.id; togglePanel('description');" ng-class="{active: item.category_id == category.id}">{{ category.name }}</a>
            </div>
        </div>
    </div>

    <div id="description" class="listing-panel" ng-class="{incomplete: !descriptionDone(), active: activePanel == 'description'}">
        <div ng-click="togglePanel('description')">
            <div class="index"><i class="fa fa-info"></i></div>
            <div class="title">Description</div>
        </div>
        <div class="listing-panel-body">

            <div class="alert alert-danger" ng-if="description_error">
                {{ description_error }}
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-xs-2 col-form-label">Title</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" placeholder="Set a title for your listing" ng-model="item.title">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-search-input" class="col-xs-2 col-form-label">Description</label>
                <div class="col-xs-10">
                    <textarea class="form-control" placeholder="Tell people about your listing" rows="6" type="text"
                              ng-model="item.description"></textarea>
                </div>
            </div>

            <button type="button" class="btn btn-primary pull-right" ng-click="togglePanel('photos')">Next</button>
        </div>
    </div>

    <div id="photos" class="listing-panel" ng-class="{incomplete: !photosDone(), active: activePanel == 'photos'}">
        <div ng-click="togglePanel('photos')">
            <div class="index"><i class="fa fa-photo"></i></div>
            <div class="title">Photos</div>
        </div>
        <div class="listing-panel-body">

            <div class="alert alert-danger" ng-if="photos_error">
                {{ photos_error }}
            </div>

            <div flow-init="{target: 'api/item/image', chunkSize: 4000000, testChunks:false}"
                 flow-files-submitted="uploadImage($flow)"
                 flow-file-added="validateUpload($file, $flow.files.length);"
                 flow-file-success="imageUploadSuccess($message)"
                 flow-file-error="imageUploadError($message)">
                <div class="drop" flow-drop ng-class="dropClass">
                    <span class="btn btn-default" flow-btn>Upload Image</span>
                    <b>OR</b>
                    Drag And Drop your images here
                </div>
                <br/>
                <div>
                    <div ng-if="item.images.length" ng-repeat="image in item.images.split(',')" class="gallery-box">
                        <img src="/static/img/items/{{ image }}">
                        <a class="btn btn-xs btn-danger"
                           ng-click="removeImage(image); $flow.files[$index].cancel();"> Remove </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-click="togglePanel('availability')">Next</button>
        </div>
    </div>

    <div id="availability" class="listing-panel" ng-class="{incomplete: !availabilityDone(), active: activePanel == 'availability'}">
        <div ng-click="togglePanel('availability')">
            <div class="index"><i class="fa fa-calendar"></i></div>
            <div class="title">Availability</div>
        </div>
        <div class="listing-panel-body">

            <div class="alert alert-danger" ng-if="availability_error">
                {{ availability_error }}
            </div>

            <div class="listing-calendar-wrapper col-xs-12">
                <div>
                    <div class="listing-calendar" ng-repeat="month in months">
                        <h3>{{ month.month }}</h3>
                        <table>
                            <thead>
                                <tr>
                                    <td class="dayname" ng-repeat="dayName in ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
                                        {{ dayName }}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="week in month.weeks">
                                    <td ng-repeat="day in week track by $index" class="day active" id="{{ dayHash(day)}}" ng-click="toggleDay(day)">
                                        {{ day.getDate() }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div class="listing-calendar-controls">
                    <div>
                        <span>Mondays</span>
                        <input type="checkbox" ng-model="item.mon">
                    </div>
                    <div>
                        <span>Tuesdays</span>
                        <input type="checkbox" ng-model="item.tue">
                    </div>
                    <div>
                        <span>Wednesdays</span>
                        <input type="checkbox" ng-model="item.wed">
                    </div>
                    <div>
                        <span>Thursdays</span>
                        <input type="checkbox" ng-model="item.thu">
                    </div>
                    <div>
                        <span>Fridays</span>
                        <input type="checkbox" ng-model="item.fri">
                    </div>
                    <div>
                        <span>Saturdays</span>
                        <input type="checkbox" ng-model="item.sat">
                    </div>
                    <div>
                        <span>Sundays</span>
                        <input type="checkbox" ng-model="item.sun">
                    </div>
                </div>-->
            </div>

            <button type="button" class="btn btn-primary pull-right" ng-click="togglePanel('pricing')">Next</button>
        </div>
    </div>

    <div id="pricing" class="listing-panel" ng-class="{incomplete: !pricingDone(), active: activePanel == 'pricing'}">
        <div ng-click="togglePanel('pricing')">
            <div class="index"><i class="fa fa-money"></i></div>
            <div class="title">Pricing</div>
        </div>
        <div class="listing-panel-body">

            <div class="alert alert-danger" ng-if="pricing_error">
                {{ pricing_error }}
            </div>

            <div>
                <input type="checkbox" ng-model="day_rate_enabled" ng-change="item.day_rate = null">
                <span>Daily Rate</span>
                <span ng-show="day_rate_enabled">
                    <input type="number" max="5000" min="0" ng-model="item.day_rate">
                </span>
            </div>
            <div>
                <input type="checkbox" ng-model="week_rate_enabled" ng-change="item.week_rate = null">
                <span>Weekly Rate</span>
                <span ng-show="week_rate_enabled">
                    <input type="number" max="5000" min="0" ng-model="item.week_rate">
                </span>
            </div>
            <div>
                <input type="checkbox" ng-model="month_rate_enabled" ng-change="item.month_rate = null">
                <span>Monthly Rate</span>
                <span ng-show="month_rate_enabled">
                    <input type="number" max="5000" min="0" ng-model="item.month_rate">
                </span>
            </div>

            <button type="button" class="btn btn-primary pull-right" ng-click="updateItem()">Save</button>
        </div>
    </div>
</div>