<div id="search">

    <div ng-show="results.end == 0">
        No Results
    </div>

    <div class="animated fadeIn result-wrapper col-sm-6 col-lg-4" ng-repeat="result in results.results | orderBy: 'id':true ">
        <a href="/item?id={{ result.id }}">
            <div class="result" style="background-image: url({{ '/static/img/items/' + result.image }})"></div>
            <span>{{ result.title }}</span>
            <span ng-show="result.dist_string" class="">({{ result.dist_string }})</span>
            <span>€{{ result.day_rate }} per day</span>
        </a>
    </div>

    <div style="clear: both;" ng-show="results.end">
        {{ results.start }} to {{ results.end }} of {{ results.query_count }} Results
    </div>

    <div>
        <a ng-hide="!prev_url" href="{{ prev_url }}">Prev</a>
        <a ng-hide="!next_url" href="{{ next_url }}">Next</a>
    </div>

</div>